<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//log4j/log4j Configuration//EN" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="Console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss SS} [%-5.15t] %-5p %C{1}.%M %x - %m%n" />
		</layout>
		<!-- 定义日志输出级别-->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="TRACE" />
			<param name="levelMax" value="ERROR" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="com.pixshow" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="Console" />
	</logger>

	<logger name="com.pixshow.framework.ddb.internal.DelegatingPreparedStatement" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="Console" />
	</logger>
	<root>
		<priority value="INFO" />
		<appender-ref ref="Console" />
	</root>

</log4j:configuration>
